/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

// Overwrite Chrome user agent styles
html {
  font-size: 62.5%;
}

body {
  display: block;
  margin: 0px;
}

// Style reset layers

@layer reset, primeng;

@layer reset {
  .p-menubar {
    border-radius: 0px;
  }

  .p-menu {
    min-width: 30px;
  }

  .switch-user-menu-item {
    .p-menuitem-content {
      border-radius: 30px;
      background-color: #0067D2;
      box-shadow: 0 0 0 1.5px rgba(255, 255, 255, 1);
      margin: 10px;
      a {
        color: #ffffff;
        justify-content: center !important;
      }

      &:hover, &:active, &:focus {
        background-color: #ffffff;
        box-shadow: 0 0 0 1.5px #0067D2;
        a {
          color: #0067D2;
        }
      }
    }
  }
}
