<div class="p-2 border-round-xl" style="background: var(--style-cards-bg); border: 1px solid rgba(255, 255, 255, 0.1); backgroundBlendMode: normal, color-dodge; width: 300px;">
  <div class="content bg-white h-full p-2">
      <div class="flex align-items-center gap-2 py-2 px-3">
          <i class="pi pi-verified text-gray-900"></i>
          <span class="font-medium text-gray-900">Prime Coffee Shop</span>
      </div>
      <div class="mt-3 content-image-wrapper relative text-center w-full flex align-items-center justify-content-center">
          <div class="content-image bg-cover bg-no-repeat bg-center h-14rem w-7rem z-4" style="background-image: url('https://www.primefaces.org/cdn/primeflex/images/landing/style-cards/modern.jpg'); border-radius: 70px;"></div>
          <span class="block absolute w-11rem h-5rem bg-orange-300 z-3 origin-top-center -rotate-45"></span>
          <span class="block absolute w-11rem h-5rem bg-orange-300 z-2 origin-bottom-center rotate-45"></span>
      </div>
      <div class="rating mt-2 mb-2 flex align-items-center justify-content-center gap-2 w-full ">
          <i class="pi pi-star-fill text-gray-900"></i>
          <i class="pi pi-star-fill text-gray-900"></i>
          <i class="pi pi-star-fill text-gray-900"></i>
          <i class="pi pi-star-fill text-gray-600"></i>
          <i class="pi pi-star-fill text-gray-600"></i>
      </div>
      <div class="content-info">
          <div class="flex align-items-center justify-content-between py-2 px-3 gap-2">
              <div class="flex align-items-center gap-2">
                  <i class="pi pi-star-fill"></i>
                  <span class="font-small text-gray-900 white-space-nowrap">Cold Brew</span>
              </div>
              <div class="flex align-items-center gap-2">
                  <i class="pi pi-star-fill"></i>
                  <span class="font-small text-gray-900 white-space-nowrap">10:00 - 17:00</span>
              </div>
          </div>
          <div class="flex align-items-center justify-content-between py-2 px-3 gap-2">
              <div class="flex align-items-center justify-content-center gap-1 border-right-1 surface-border pr-2">
                  <i class="pi pi-bolt"></i>
                  <span class="font-small text-gray-900 white-space-nowrap">Charge</span>
              </div>
              <div class="flex align-items-center gap-1 justify-content-center gap-1 border-right-1 surface-border px-2">
                  <i class="pi pi-wifi"></i>
                  <span class="font-small text-gray-900 white-space-nowrap">Wifi</span>
              </div>
              <div class="flex align-items-center gap-1 justify-content-center gap-1 pl-2">
                  <i class="pi pi-book"></i>
                  <span class="font-small text-gray-900 white-space-nowrap">Library</span>
              </div>
          </div>
          <div class="flex align-items-center justify-content-center pt-2 px-3 gap-2">
              <button class="p-3 flex align-items-center justify-content-center w-7 gap-2 bg-white border-1 shadow-1 cursor-pointer hover:bg-black-alpha-10 transition-duration-200" style="border-radius: 50px;">
                  <span class="font-medium text-gray-900 white-space-nowrap">Contact</span>
                  <i class="pi pi-send text-gray-900"></i>
              </button>
              <button class="p-3 flex align-items-center justify-content-center w-5 gap-2 bg-gray-900 shadow-1 border-none cursor-pointer hover:bg-gray-800 transition-duration-200" style="border-radius: 50px;">
                  <span class="font-medium text-white white-space-nowrap">Rate</span>
                  <i class="pi pi-thumbs-up-fill text-white"></i>
              </button>
          </div>
      </div>
  </div>
</div>
