<div class="p-2 border-round-xl" style="background: var(--style-cards-fancy-bg); border: 1px solid rgba(255, 255, 255, 0.1); backgroundBlendMode: normal, color-dodge; width: 300px;">
  <div class="content border-round-sm">
      <div class="content-image bg-cover bg-no-repeat bg-center relative" style="height: 244px; background-image: url('https://www.primefaces.org/cdn/primeflex/images/landing/style-cards/fancy.jpg')">
          <div class="rating mt-2 border-round-sm absolute ml-2 p-2 flex align-items-center gap-2 bg-black-alpha-20 w-8rem border-1" style="backdropFilter: blur(27px);">
              <i class="pi pi-star-fill text-white"></i>
              <i class="pi pi-star-fill text-white"></i>
              <i class="pi pi-star-fill text-white"></i>
              <i class="pi pi-star-fill text-gray-600"></i>
              <i class="pi pi-star-fill text-gray-600"></i>
          </div>
      </div>
      <div class="content-info mt-2 border-round-sm bg-white-alpha-10 shadow-1 py-1" style="backdropFilter: blur(27px);">
          <div class="flex align-items-center justify-content-between py-2 px-3">
              <span class="font-medium text-white">Prime Coffee Shop</span>
              <i class="pi pi-verified text-white"></i>
          </div>
          <div class="flex align-items-center justify-content-between py-2 px-3 gap-2">
              <div class="flex align-items-center gap-2">
                  <i class="pi pi-star-fill text-white"></i>
                  <span class="font-small text-white white-space-nowrap">Cold Brew</span>
              </div>
              <div class="flex align-items-center gap-2">
                  <i class="pi pi-star-fill text-white"></i>
                  <span class="font-small text-white white-space-nowrap">10:00 - 17:00</span>
              </div>
          </div>
          <div class="flex align-items-center justify-content-between py-2 px-3 gap-2">
              <div class="flex align-items-center justify-content-center gap-1 border-right-1 surface-border pr-2">
                  <i class="pi pi-bolt text-white"></i>
                  <span class="font-small text-white white-space-nowrap">Charge</span>
              </div>
              <div class="flex align-items-center gap-1 justify-content-center gap-1 border-right-1 surface-border px-2">
                  <i class="pi pi-wifi text-white"></i>
                  <span class="font-small text-white white-space-nowrap">Wifi</span>
              </div>
              <div class="flex align-items-center gap-1 justify-content-center gap-1 pl-2">
                  <i class="pi pi-book text-white"></i>
                  <span class="font-small text-white white-space-nowrap">Library</span>
              </div>
          </div>
      </div>
      <div class="flex align-items-center justify-content-center pt-2 gap-2">
          <button class="p-3 flex align-items-center justify-content-center w-7 gap-2 border-round-sm bg-white-alpha-10 shadow-1 border-none cursor-pointer hover:bg-white-alpha-20 transition-duration-200" style="backdropFilter: blur(27px);">
              <span class="font-medium text-white white-space-nowrap">Contact</span>
              <i class="pi pi-send text-white"></i>
          </button>
          <button class="p-3 flex align-items-center justify-content-center w-5 gap-2 bg-blue-500 shadow-1 border-round-sm border-none cursor-pointer hover:bg-blue-600 transition-duration-200">
              <span class="font-medium text-white white-space-nowrap">Rate</span>
              <i class="pi pi-thumbs-up-fill text-white"></i>
          </button>
      </div>
  </div>
</div>
